.dark{
    background-color: black;
    color: white;
}
.light{
    background-color: white;
    color: black;
}
.app{
    height: 50px;
}

.yellogreen{
background-color: yellowgreen;
height: 200px;

}
.white{
    background-color: aliceblue;
    height: 200px;
}
